.section {
  margin-top: 100px;
  padding: 15px;
}
.section_title {
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
.section_subtitle {
  font-size: 20px;
  color: black;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
  line-height: 1.8;
}
