#hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 0 40px;
  background-color: rgb(242 242 242);
  background-image: url("../images/Whatsapp\ Wallpapers\ Hd.jpg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#hero > h1 {
  font-size: 28px;
  line-height: 1.3; /* 
  letter-spacing: 5px; */
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Playfair Display", sans-serif;
}
#hero > p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}
#hero > button {
  width: 300px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px 15px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#hero > button > span {
  font-weight: normal;
  border-radius: 2px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#hero > button > i {
  font-size: 20px;
}
