.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition-duration: 500ms;
  margin-left: auto;
}
.sidebar_hamburger_translate {
  transform: translateX(300px);
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
  padding: 100px 20px;
  z-index: 20;
  transform: translateX(-300px);
  transition-duration: 500ms;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0px);
}
.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_list > li {
  margin-bottom: 20px;
}
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/USERNAME/REPOSITORY.git
git push -u origin main

